{% extends "base.html" %}
{% block content %}


<div class="d-flex justify-content-center align-items-center vh-100">
    <form method="POST" action="{{ url_for('login') }}">
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', filename='calorielogo.png') }}"
                 class="card-img-top"
                 alt="Calorie Logo"
                 style="width: 100%; height: 160px; object-fit: cover;">
            <div class="card-body text-center">
                <h3 class="card-title">Login</h3>
            </div>

            <div class="mb-3 px-4">
                {{ form.csrf_token }}

                <label for="username" class="form-label text-center w-100">Username</label>
                <input type="text" name="username" class="form-control mb-2" id="username" autocomplete="off">

                <label for="password1" class="form-label text-center w-100">Password</label>
                <input type="password" name="password" class="form-control mb-2" id="password1">

                <input type="password" name="confirm_password" class="form-control mb-3" id="password2" placeholder="Re-Enter Your Password">

                <button type="submit" class="btn btn-primary d-block mx-auto">Log In</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}